<%- include('partials/header.ejs') %>
<div class="container bg-black w-full mx-28 flex flex-col items-center h-screen">
    
      <div class="w-full h-full mb-10">
        <input maxlength="1000" type="text" id="title" name="title" placeholder="Title" class="w-full p-2 rounded-lg bg-black text-3xl text-gray-200">
        <textarea  type="text" id="posted" name="posted" placeholder="Tell Your story......." class="w-full h-full mt-10 p-2 rounded-lg bg-black  text-3xl text-gray-200 leading-tight "></textarea>
      </div>
    </form>
  </div>
   <div class="mt-20"><%- include('partials/fotter.ejs') %>
 </div>
  

