<%- include('partials/header.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="mx-auto px-3  min-w-fit h-screen">
 <h1 class="text-yellow-200 text-5xl mb-10" ><%= locals.output[id].title%></h1><hr>
 <p class="text-3xl text-gray-300"><%= locals.output[id].post%></p>

    </div>
</body>
</html>
<%- include('partials/fotter.ejs') %>